@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
/*-----------------*/
/* Custom properties */
/*----------------*/

:root {
  /* Colors */
  --clr-dark: #000;
  --clr-blue: #7acae5;
  --clr-white: #ffffff;
  --clr-text-dark: #215c70;
  --clr-text-dark-blue: #133063;
  --clr-text-light: #87878a;
  --clr-text-semidark: #151c26;
  --clr-darker-blue: #279bdd;
  --clr-red: #fd5234;
  --clr-border-blue: #3e8faa;

  /* Fonts-sizes */
  --fs-900: 9.37rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-inter: "Inter", sans-serif;
}

/*-----------------*/
/* RESET */
/*----------------*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default link style */
a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  background-color: var(--clr-white);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove default button styles */
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.aligen-items-center {
  align-items: center;
}

.justify-content {
  justify-content: center;
}

.container {
  padding-inline: 2em;
  max-width: 80rem;
  margin-inline: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0.5em;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.bg-white {
  background-color: var(--clr-white);
}
.bg-blue {
  background-color: var(--clr-blue);
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.button-filled {
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.15);
  border-radius: var(--btn-filled-radius, 10px);
  background-color: var(--clr-filled-btn, #fff);
  color: var(--clr-filled-btn-text, #fff);
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding: 14px 27px;
  width: var(--width-btn, 100%);
}

.button-outlined {
  border: 1px solid;
  border-color: var(--clr-bordered-btn, #fff);
  border-radius: 10px;
  color: var(--clr-bordered-btn-text, #fff);
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding: 14px 27px;
}

/*-----------------*/
/* Header */
/*----------------*/
.header {
  justify-content: space-between;
  align-items: center;
  padding: 0 122px;
  min-height: 96px;
}
.header--brand-logo {
  --gap: 12px;
}
.header--brand-logo img {
  width: 24px;
  height: 24px;
}
.header--brand-logo h2 {
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
}
.nav-items {
  --gap: 52px;
}
.nav-items > li > a {
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.active a {
  position: relative;
  padding-bottom: 37px;
}
.active a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 3px;
  background-color: var(--clr-dark);
  transition: width 0.3s ease-in-out;
}
.button-group {
  --clr-filled-btn: var(--clr-dark);
  --clr-filled-btn-text: var(--clr-white);
  --clr-bordered-btn: var(--clr-border-blue);
  --clr-bordered-btn-text: var(--clr-dark);
}

/*-----------------*/
/* Intro Section */
/*----------------*/
.intro--header {
  align-items: flex-end;
  padding: 95px 70px;
  height: 703px;
}
.intro--header h1 {
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: 300;
  font-size: 88px;
  line-height: 96px;
}
.img-cards {
  height: 540px;
}
.img-rocket {
  height: 669px;
  position: relative;
  bottom: -95px;
}

.intro--title {
  justify-content: center;
  align-items: center;
  margin-top: 125px;
  padding: 0 268px;
  --gap: 32px;
}
.intro--title h2 {
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.33px;
  color: var(--clr-text-dark-blue);
}
.intro--title p {
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--clr-text-light);
  max-width: 438px;
}
.intro--counters {
  padding: 48px 145px;
  --gap: 109px;
  justify-content: center;
  align-items: center;
}
.counter {
  --gap: 16px;
}
.counter h3 {
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.33px;
  color: var(--clr-text-dark-blue);
}
.counter p {
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--clr-text-light);
}

/*-----------------*/
/* How it works section*/
/*----------------*/
.hiw {
  margin-top: 145px;
}
.hiw--feature-1 {
  padding: 40px 147px;
  --gap: 85px;
}
.feature-1--content {
  max-width: 542px;
  --gap: 50px;
  justify-content: flex-start;
  align-items: flex-start;
}
.feature-1--content h2 {
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 110%;
  color: var(--clr-text-dark-blue);
}
.content--description {
  --gap: 16px;
  padding: 35px 30px;
  transition: all 0.5s ease-in-out;
}

.content--description:hover {
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.15);
}
.content--description h3 {
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  color: var(--clr-text-dark-blue);
}
.content--description p {
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
  color: var(--clr-text-light);
}

/*-----------------*/
/* Services section*/
/*----------------*/

.service--1 {
  margin-top: 145px;
  padding: 95px 135px;
  background-color: #f3f5fa;
}

.achive {
  flex: 0.5;
}

.achive p {
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.06em;
  color: #999aab;
}

.achive h2 {
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: var(--clr-text-dark-blue);
}

.services--container {
  flex: 1;
}

.service {
  --gap: 10px;
}

.service object {
  width: 75px;
  height: 75px;
}

.service--content {
  --gap: 14px;
}

.service--content h2 {
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.01em;
  color: var(--clr-text-dark-blue);
}

.service--content p {
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #656562;
  color: var(--clr-text-light);
}

.service--2 {
  margin-top: 72px;
  padding: 66px 135px;
  --gap: 120px;
}

.service--2-content {
  flex: 0.5;
  align-items: flex-start;
  --gap: 20px;
}
.service--2-content h2 {
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 62px;
  letter-spacing: -0.01em;
  color: var(--clr-text-dark-blue);
}

.service--2-content p {
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: var(--clr-text-light);
}

.service--2-content ul {
  list-style: none;
  all: unset;
}

.service--2-content ul > li {
  justify-content: flex-start;
  align-items: center;
  --gap: 0;
}

.service--2-content ul > li > img {
  width: 44px;
  height: 44px;
}

.service--2-content ul > li > p {
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: var(--clr-text-light);
  margin-bottom: 10px;
}

.service--2-content button {
  --width-btn: 160px;
  --clr-filled-btn: var(--clr-dark);
  --clr-filled-btn-text: var(--clr-white);
  --btn-filled-radius: 50px;
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.01em;
  padding: 20px 31px;
}

.services-cards {
  grid-template-columns: repeat(2, auto);
  flex: 1;
  --gap: 40px;
}
.card {
  --gap: 20px;
  border: 1px solid #f0f0f0;
  padding: 35px 40px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border: 0;
}

.card img {
  width: 48px;
  height: 48px;
}
